<style>
   body {
            font-family: 'Roboto', sans-serif;
            background-color: #005B5E;
            color: white;
            margin: 0;
            padding: 0;
        }

        MainBitofPage {
            padding: 5px;
        }

        text {
            color: white;
        }

        header {
            background-color: #004345;
        }

        .greeting {
            padding: 10px;
            font-size: 1.2em;
            color: rgb(226, 124, 0);
        }

        .timetable-container {
            padding: 40px;
        }

        table {
            width: 100%;
        }

        th {
            text-align: center;
        }

        screen-text {
            text-align: center;
        }

        /* For when the screen size gets smaller */
        /*****************************************/
        @media (max-width: 768px) {
            .greeting {
                font-size: 1em;
                padding: 10px 5px;
            }

            th,
            td {
                padding: 4px;
                font-size: 0.8em;
            }

            .timetable-container {
                padding: 10px 5px;
                overflow-x: auto;
            }

            table {
                font-size: 0.8em;
            }
        }

        /* For when the screen size gets REALLY small */
        /**********************************************/
        @media (max-width: 480px) {
            header {
                flex-direction: column;
                padding: 5px;
            }

            .greeting {
                font-size: 0.9em;
            }

            th,
            td {
                padding: 2px;
                font-size: 0.7em;
            }

            table {
                width: 100%;
                table-layout: fixed;
            }
        }
</style>

<body>
    <div class="greeting">Hello Jake!</div>
    
    <div class="timetable-container">
        <table>
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
            </thead>
    
            <tbody>
                <!-- 9am -->
                <tr>
                    <td>9am</td>
                    <td class="subject">Computer Systems<br>Room 101<br>Drew Lang<br></td>
                    <td class="subject">Mathematics 1<br>Room 102<br>Fran O'Reagan<br></td>
                    <td class="subject" rowspan="2">Personal Development<br>Room 103<br>John Weir<br></td>
                    <td class="subject">Introduction to Programming 1<br>Room 104<br>Aine Mitchell<br></td>
                    <td class="subject">Design Thinking<br>Room 105<br>Mary Loftus<br></td>
                </tr>
    
                <!-- 10am -->
                <tr>
                    <td>10am</td>
                    <td></td>
                    <td class="subject">Introduction to Programming 1<br>Room 104<br>Aine Mitchell<br></td>
                    <td></td>
                    <td class="subject">Mathematics 1<br>Room 102<br>Fran O'Reagan<br></td>
                    <td></td>
                </tr>
    
                <!-- 11am -->
                <tr>
                    <td>11am</td>
                    <td class="subject">Design Thinking<br>Room 105<br>Mary Loftus<br></td>
                    <td></td>
                    <td class="subject">Mathematics 1<br>Room 102<br>Fran O'Reagan<br></td>
                    <td></td>
                    <td class="subject">Computer Systems<br>Room 101<br>Drew Lang<br></td>
                </tr>
    
                <!-- 12pm -->
                <tr>
                    <td>12pm</td>
                    <td class="subject">Computer Systems<br>Room 101<br>Drew Lang<br></td>
                    <td></td>
                    <td class="subject">Introduction to Programming 1<br>Room 104<br>Aine Mitchell<br></td>
                    <td></td>
                    <td></td>
                </tr>
    
                <!-- 1pm -->
                <tr>
                    <td>1pm</td>
                    <td class="subject">Personal Development<br>Room 103<br>John Weir<br></td>
                    <td></td>
                    <td></td>
                    <td class="subject">Design Thinking<br>Room 105<br>Mary Loftus<br></td>
                    <td class="subject">Mathematics 1<br>Room 102<br>Fran O'Reagan<br></td>
                </tr>
    
                <!-- 2pm -->
                <tr>
                    <td>2pm</td>
                    <td></td>
                    <td class="subject">Design Thinking<br>Room 105<br>Mary Loftus<br></td>
                    <td></td>
                    <td class="subject">Introduction to Programming 1<br>Room 104<br>Aine Mitchell<br></td>
                    <td></td>
                </tr>
    
                <!-- 3pm -->
                <tr>
                    <td>3pm</td>
                    <td class="subject">Introduction to Programming 1<br>Room 104<br>Aine Mitchell<br></td>
                    <td></td>
                    <td></td>
                    <td class="subject">Computer Systems<br>Room 101<br>Drew Lang<br></td>
                    <td></td>
                </tr>
    
                <!-- 4pm -->
                <tr>
                    <td>4pm</td>
                    <td class="subject">Mathematics 1<br>Room 102<br>Fran O'Reagan<br></td>
                    <td></td>
                    <td></td>
                    <td class="subject">Design Thinking<br>Room 105<br>Mary Loftus<br></td>
                    <td></td>
                </tr>
    
                <!-- 5pm -->
                <tr>
                    <td>5pm</td>
                    <td class="subject">Design Thinking<br>Room 105<br>Mary Loftus<br></td>
                    <td class="subject">Computer Systems<br>Room 101<br>Drew Lang<br></td>
                    <td class="subject">Mathematics 1<br>Room 102<br>Fran O'Reagan<br></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    
    
</body>