<p>search-for-timetable works!</p>
<div class="container-fluid h-100">
    <h1>Room Manager</h1>
    <div class="row my-2">
        <div class="col-2">
            <div class="card">
                <div class="container">
                    <div class="input-group my-3">
                        <input type="text" class="form-control" placeholder="Search for room"
                            aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <button class="btn btn-primary" id="basic-addon2"><span class="bi bi-search"></span></button>
                    </div>
                    <hr>
                    <div style="max-height: 80vh; overflow-y: auto;">
                        <div class="card mb-2 room-card" *ngFor="let group of studentGroups" (click)="StudentGroupClicked(group)">
                            <div class="card-body p-2">
                                <p class="mb-0">{{group.StudentGroup}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card p-2">
                <div class="container">
                    <full-calendar #programPreview  [options]="calendarOptions"></full-calendar>
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>