<div class="container-fluid">
    <div class="row my-2">
        <div class="col-2">
            <div class="card">
                <div class="container">
                    <h2>Room Form</h2>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search for room"
                            aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <button class="btn btn-primary" id="basic-addon2"><span class="bi bi-search"></span></button>
                    </div>
                    <button class="btn btn-primary">Create Room</button>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="container">
                    <h2>Timetable</h2>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card">
                <div class="container">
                    <h2>Room Form</h2>

                </div>
            </div>
        </div>
    </div>
</div>