<div class="container-fluid h-100">
    <h1>Room Manager</h1>
    <div class="row my-2">
        <div class="col-2">
            <div class="card">
                <div class="container">
                    <div class="input-group my-3">
                        <input type="text" class="form-control" placeholder="Search for room"
                            aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <button class="btn btn-primary" id="basic-addon2"><span class="bi bi-search"></span></button>
                    </div>
                    <div class="my-3">
                        <select class="form-select">
                            <option>Filter Rooms</option>
                            <option>Lecture Hall</option>
                            <option>Tiered Classroom</option>
                            <option>Computer Lab</option>
                            <option>Science Lab</option>
                        </select>
                    </div>
                    <div>
                        <div class="card p-1 mb-2" *ngFor="let room of rooms">
                            <p class="lead mb-0">{{room?.roomNumber}}</p>
                            <i class="mb-0 text-secondary">{{room?.type}}</i>
                        </div>
                    </div>
                    <button class="btn btn-primary my-3">Create Room</button>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="container">
                    <h2>Timetable</h2>
                    <full-calendar #programPreview class="h-100" [options]="calendarOptions"></full-calendar>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card h-100">
                <div class="container">
                    <h2>Room Form</h2>
                    <form>
                        <div class="mb-3">
                            <label for="" class="form-label">Room Number</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Seats Available</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Room Type</label>
                            <select class="form-select">
                                <option>Select room type</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Facilities</label>
                            <input type="text" class="form-control">
                        </div>
                        <button class="my-3 btn btn-primary">{{roomAction}} Room</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>