<div class="container">
    <h1>POST</h1>
    <form>
        <div class="mb-2">
            <label>Student Group (eg. SG_KSODV_HO8):</label>
            <input class="form-control" style="width: 12rem;" [formControl]="studentGroup">
        </div>
    </form>
    <hr class="border-dark">
    <h1>GET</h1>
    <h2>Read StudentGroup</h2>
    <form action="">
        <label>Student Group (eg. SG_KSODV_HO8):</label>
        <input class="form-control" style="width: 12rem;" [formControl]="studentGroup">
        <button class="btn btn-primary" type="button" (click)="GetStudentTimetable()">Send Request</button>
    </form>
    <ul>
        <li *ngFor="let event of studentTimetable">
            {{studentTimetable?.Module?.Name}} ({{studentTimetable?.StartTime}} - {{studentTimetable?.EndTime}})
        </li>
    </ul>
    <h2>Read StaffId</h2>
    <input class="form-control" style="width: 12rem;">
    <button class="btn btn-primary">Send Request</button>
    <h2>Read RoomNo</h2>
    <input class="form-control" style="width: 12rem;">
    <button class="btn btn-primary">Send Request</button>
    <hr class="border-dark">
    <h1>PUT</h1>
    <hr class="border-dark">
    <h1>DELETE</h1>
</div>